@import url('https://fonts.googleapis.com/css?family=Coda|Roboto');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
}
app-root {
  width: 100vw;
  height: 100vh;
}
h1, h2, h3, h4, h5 {
  font-family: 'Coda';
}

a, p {
  font-family: 'Roboto';
}
app-login {
  height: 100vh;
  display: grid;
}

input {
  padding: 7px;
  border: none;
  margin-bottom: 10px;
  border-radius: 2px;
}

button {
  border: none;
  padding: 7px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  background: #DEC523;
  color: #191F22;
}

li {
  list-style: none;
}

ul{
  padding: 0;
}

.accent-font {
  color: #D5001C;
}
.accent-color {
  background-color: #D5001C;
}

.shadow-font {
  color: #F3F3F3;
}

.shadow-color {
  background-color: #F3F3F3;
}

.dark-font {
  color: #191F22;
}
.dark-color {
  background-color: #191F22;
}

.light-font {
  color: #FAFAFA;
}
.light-color {
  background-color: #FAFAFA;
}

.selected-color {
  border: 1px solid #DEC523!important;
  background-color: #DEC523;
  color: #FAFAFA;
}

.wrapper-flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-flexbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper-grid {
  display: grid;
}
.invisible {
  display: none;
}

.visible {
  display: flex;
}

.tabs {
  border: #F3F3F3 solid 1px;
  border-bottom: none;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.fitness {
  background-color: #FF736E;
}
.food {
  background-color: #49DA9A;
}
.travel {
  background-color: #A3E048;
}
.tech {
  background-color: #34BBE6;
}
.fashion {
  background-color: #D23BE7;
}
