<main class="wrapper-flexbox-column dark-color">
  <img src="../../../assets/logo.png">
  <h1 class="light-font">ARSA</h1>
  <form class="wrapper-flexbox-column" [ngClass]="signed ? 'visible' : 'invisible'" dark-color>
    <input placeholder="Email address" type="text" [(ngModel)]="email" name="email">
    <input placeholder="Password" type="password" [(ngModel)]="password" name="password">
    <button (click)="signIn()" class="">Sign In</button>
    <a class="light-font" (click)="signed = !signed">Not registered yet?</a>
  </form>
  <form class="wrapper-flexbox-column" [ngClass]="signed ? 'invisible' : 'visible'" style="text-align:center">
    <input placeholder="Email address" type="email" [(ngModel)]="nemail" name="nemail">
    <input placeholder="Password" type="password" [(ngModel)]="npassword" name="npassword">
    <button class="light-color" (click)="signUp()" class="" style="margin-top:5px">Sign Up</button>
    <a class="light-font" (click)="signed = !signed">Back</a>
  </form>
</main>